<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     	xmlns:cxf="http://cxf.apache.org/core"
		xmlns:jaxws="http://cxf.apache.org/jaxws"
		xmlns:jaxrs="http://cxf.apache.org/jaxrs"
		xmlns:context="http://www.springframework.org/schema/context"
		xsi:schemaLocation="
			http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd
			http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd
			http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
			http://www.springframework.org/schema/beans 
			http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
			http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context-3.1.xsd">

	<import resource="classpath:META-INF/cxf/cxf.xml"/>
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml"/>
	
	<import resource="classpath:spring-integration-context.xml"/>

    <cxf:bus>
        <cxf:features>
            <cxf:logging/>
        </cxf:features>
    </cxf:bus>

	<bean id="quizzService" 
		class="com.fr.wepingo.api.services.QuizzService" />
	<bean id="productService" 
		class="com.fr.wepingo.api.services.ProductService" />
	<bean id="shopService" 
		class="com.fr.wepingo.api.services.ShopService" />
	<bean id="userService" 
		class="com.fr.wepingo.api.services.UserService" />
	<bean id="pingService" 
		class="com.fr.wepingo.api.services.PingService" />

	<bean id="jsonProvider" 
		class="com.fasterxml.jackson.jaxrs.json.JacksonJsonProvider"/>
	<bean id="exceptionHandler"
		class="com.fr.wepingo.api.interceptor.ExceptionHandler"/>
	<bean id="corsFilter"
		class="org.apache.cxf.rs.security.cors.CrossOriginResourceSharingFilter"/>

  	<jaxrs:server id="quizzAPI" address="/quizz/">
  		<jaxrs:serviceBeans>
  			<ref bean="quizzService"/>
  		</jaxrs:serviceBeans>
  		<jaxrs:providers>
			<ref bean='jsonProvider' />
			<ref bean='exceptionHandler' />
			<ref bean='corsFilter' />
		</jaxrs:providers>
  	</jaxrs:server>

  	<jaxrs:server id="productAPI" address="/scan/">
  		<jaxrs:serviceBeans>
  			<ref bean="productService"/>
  		</jaxrs:serviceBeans>
  		<jaxrs:providers>
			<ref bean='jsonProvider' />
			<ref bean='exceptionHandler' />
			<ref bean='corsFilter' />
		</jaxrs:providers>
  	</jaxrs:server>

  	<jaxrs:server id="shopAPI" address="/shop/">
  		<jaxrs:serviceBeans>
  			<ref bean="shopService"/>
  		</jaxrs:serviceBeans>
  		<jaxrs:providers>
			<ref bean='jsonProvider' />
			<ref bean='exceptionHandler' />
			<ref bean='corsFilter' />
		</jaxrs:providers>
  	</jaxrs:server>

  	<jaxrs:server id="userAPI" address="/user/">
  		<jaxrs:serviceBeans>
  			<ref bean="userService"/>
  		</jaxrs:serviceBeans>
  		<jaxrs:providers>
			<ref bean='jsonProvider' />
			<ref bean='exceptionHandler' />
			<ref bean='corsFilter' />
		</jaxrs:providers>
  	</jaxrs:server>

  	<jaxrs:server id="pingAPI" address="/domain/">
  		<jaxrs:serviceBeans>
  			<ref bean="pingService"/>
  		</jaxrs:serviceBeans>
  		<jaxrs:providers>
			<ref bean='jsonProvider' />
			<ref bean='exceptionHandler' />
			<ref bean='corsFilter' />
		</jaxrs:providers>
  	</jaxrs:server>
  	
  	<!-- <jaxws:endpoint id="soapProductService"
		implementor="com.fr.wepingo.api.services.SoapProductService"
		address="/soapProductService" /> -->
  	

	<context:component-scan base-package="com.fr.wepingo.api" />
	<!-- rmi client annotation processor -->
	<bean class="com.fr.wepingo.common.remoting.RemoteClientAnnotationBeanFactoryPostProcessor">
		<property name="host" value="${remote.host}" />
		<property name="port" value="${remote.port}" />
		<property name="type" value="${remote.type}" />
	</bean>

</beans>